/build
**/build/

local.properties

app/src/main/assets/config.properties

.gradle/
**/out/
**/wrapper/

.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/vcs.xml

*.apk
*.ap_
*.dex
*.class

captures/
output.json

.DS_Store

*.log
*.tmp

*.iml
*.hprof
*.jar
*.war
*.ear
*.zip

lint/intermediates/
lint/generated/
lint/outputs/

**/*.keystore
**/*.jks

.git/

tmp/
